.about {
  background-image: url("https://images.pexels.com/photos/3009773/pexels-photo-3009773.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5rem); // 5rem is the height of Navbar
  color: white;

  a {
    border: 1px solid;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;

    &:hover {
      text-decoration: none;
      background-color: rgb(17, 82, 147);
    }
  }
  h2 {
    text-align: center;
  }

  p {
    width: 50%;
    font-size: 1rem;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.25);
  }
}

.animated-button {
  color: white;
  background-color: white;
  width: 300%;
}
