.location {
  position: absolute;
  top: 6rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 10;
  color: rgb(17, 82, 147);

  &:hover {
    cursor: pointer;
  }

  &:focus {
    border: none;
  }
}

.location img {
  width: 30px;
  cursor: pointer;
}
