#footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1.25em;
  background-color: #880e4f;
  clear: both;
  position: relative;
  margin-bottom: -200px;

  .contact-icon {
    padding: 10px;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .contact p {
    font-size: 0.75em;
  }
}

#credit {
  font-size: 0.75em;
  margin-right: 5em;
}
