#footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.7rem 2rem;
  color: #fff;
  font-size: 1em;
  background-color: #880e4f;
  position: fixed;
  bottom: 0;
  width: 100%;

  .contact-icon {
    padding: 10px;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .contact p {
    font-size: 0.75em;
  }
}

#credit {
  font-size: 0.5em;
  margin-right: 15em;
}
