.navbar {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  min-height: 5rem;

  h1 {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 800;
    color: white;
    overflow: hidden;
    background: linear-gradient(to right, black, black 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
  }
  h1:hover {
    background-position: 0 100%;
  }

  ul {
    list-style: none;
    display: flex;
  }

  a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
    text-decoration: none;
  }

  a:hover {
    color: white;
  }
}

.bg-dark {
  background-color: #00b4fc;
  color: #fff;
}

.logo {
  display: flex;
  flex-direction: row;
}
